.button {
  height: 32px;
  background-color: var(--primary-button-color);
  color: var(--secondary-text-color);
  border: none;
  border-radius: var(--border-radius-medium);
}

.button:hover {
  transition: 0.3s ease;
  background-color: var(--color-hover);
}
.button:active {
  transition: 0s;
  transform: translateY(2px);
}
