.addExpenseForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-medium);
}
.addExpenseForm .title {
  padding-bottom: var(--spacing-small);
}
.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-small);
}

.formGroup input {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding-left: 4px;
}
.formGroup input:focus {
  outline: none;
  border-bottom: 2px solid var(--border-color);
}

.formGroup .amountInput::-webkit-outer-spin-button,
.formGroup .amountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.categoryDropdown {
  width: 100%;
  background-color: #fff;
  color: var(--primary-background-color);
  padding: 4px;
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-medium);
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-medium);
  gap: var(--spacing-medium);
}
.formButton {
  background-color: var(--secondary-button-color);
  color: var(--secondary-text-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-small);
}

.errorMessage {
  width: 100%;
  text-align: center;
  color: var(--error-color);
}

.successMessage {
  color: var(--primary-background-color);
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
