.expenseListContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listScrollWrapper {
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
}
/* -------------------- */
.expenseTable {
  width: 100%;
  padding: var(--spacing-large);
  border-collapse: collapse;
  position: relative;
}

thead .tableHeadRow {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
  width: 100%;
  padding: var(--spacing-medium) 0;
  border-bottom: none;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.tableHeadRow th:first-child {
  border-top-left-radius: var(--border-radius-medium);
  border-bottom-left-radius: var(--border-radius-medium);
}
.tableHeadRow th:last-child {
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
}

.tableHeadRow th {
  text-align: start;
}
.tableHeadRow .actionHeading {
  text-align: center;
}

tr {
  border-bottom: 1px solid var(--border-color);
  padding: 0 var(--spacing-small);
}

th,
td {
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  border: none;
}

.message {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-medium);
}

@media screen and (max-width: 768px) {
  .expenseTable {
    font-size: var(--font-size-small);
  }
}

@media screen and (max-width: 630px) {
  .expenseTable {
    font-size: 0.5rem;
  }
  th,
  td {
    padding: var(--spacing-small) 0.5rem;
  }
}
