.signInContainer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #015e5e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signInForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signInForm .title {
  color: var(--secondary-text-color);
  margin-bottom: var(--spacing-large);
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.inputGroup {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}
.inputGroup label {
  color: white;
}

.inputGroup input {
  height: 32px;
  width: 100%;
  background-color: transparent;
  color: var(--secondary-text-color);
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 0 var(--spacing-small);
  font-size: var(--font-size-base);
}
.inputGroup input:focus {
  outline: none;
}
.inputGroup input::placeholder {
  color: var(--secondary-text-color);
  opacity: 0.5;
}
.signUp,
.forgotPassword {
  width: 100%;
  color: var(--secondary-text-color);
  font-size: var(--font-size-small);
  padding: var(--spacing-small) 0;
}
.signUp {
  text-align: center;
}
.forgotPassword {
  text-align: end;
}
.forgotPassword a,
.signUp a {
  color: var(--secondary-text-color);
  text-decoration: underline;
}
.forgotPassword a:hover,
.signUp a:hover {
  color: var(--color-hover);
  cursor: pointer;
}

.signInButton {
  min-width: 100%;
  background-color: var(--secondary-button-color);
  color: var(--secondary-text-color);
  margin: var(--spacing-medium) 0;
}
