.profileInfoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.profileInfoWrapper fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-medium);
}
.profileTitle {
  font-size: var(--font-size-large);
  color: var(--primary-text-color);
}

.infoGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  border: 1px solid var(--border-color);
  padding: var(--spacing-small);
  border-radius: var(--border-radius-medium);
}

.verifyButton {
  max-width: 33%;
  padding: 0 var(--spacing-small);
}
/* ----------------- */
.verifyModalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-medium);
  gap: var(--spacing-medium);
}
.verifyMessage {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  padding: var(--spacing-medium);
}
.closeButton {
  padding: 0 var(--spacing-small);
}
/* ------------------ */
.errorMessage {
  color: var(--secondary-error-color);
  font-size: var(--font-size-medium);
  font-weight: bold;
  text-align: center;
}

.spinner {
  border-top: 0.5rem solid var(--primary-background-color);
}
/* ----------------- */

@media screen and (max-width: 850px) {
  .verifyButton {
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .profileInfoWrapper {
    padding: 0;
  }
  .verifyButton {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .profileInfoWrapper fieldset {
    padding: var(--spacing-small);
  }
  .profileTitle {
    font-size: var(--font-size-medium);
  }
  .infoGroup {
    padding: var(--spacing-small);
    font-size: var(--font-size-small);
  }
  .infoGroup p {
    line-break: anywhere;
  }
  .infoGroup .lastLogin {
    line-break: auto;
  }
}
