/* Import ------------ */
@font-face {
  font-family: Open-Sans-regular;
  src: url(/Fonts/OpenSans-Regular.ttf);
}

/* Reset ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a,
button {
  cursor: pointer;
}

/* Variables ---------------- */
:root {
  /* Color */
  --primary-background-color: #015e5e;
  --secondary-background-color: #efeff0;
  --primary-button-color: #000;
  --secondary-button-color: #015e5e;
  --color-hover: #6c757d;
  --text-color: #000;
  --secondary-text-color: #efeff0;
  --border-color: #357c7c;
  --error-color: #f04f3d;

  /* Spacing */
  --spacing-small: 0.8rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-xl: 4rem;

  /* Font */
  --font-family-primary: "Open-Sans-regular", sans-serif;
  --font-size-small: 0.75rem;
  --font-size-base: 1rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2rem;

  /* Border */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 16px;
}

/* Media queries ------------------- */
/* @media (max-width: 768px) {
  #root {
    min-width: 340px;
  }
  .heroContainer {
    width: 100%;
    padding: var(--spacing-medium) 0;
  }

  .tableScrollWrapper {
    width: 100%;
  }

  .expenseTable {
    padding: var(--spacing-medium);
  }
} */
